<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="target">
    </div>

<button data-id="form_first" data-value="esens">첫번째</button>
<button data-id="form_second" data-value="beenzino">두번째</button>
<button data-id="form_third">세번째</button>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js"></script>
<script id="form" type="text/x-template">
    <div>
        <div>${username}</div>
        <div>${title}</div>
    </div>
</script>
<script>

    function return_data(type) {
        switch(type) {
            case "esens":
                return {
                    "username": "이센스",
                    "title": "where to go"
                };
            case "beenzino":
                return {
                    "username": "빈지노",
                    "title": "if i die tomorrow"
                }
        }
    }

    function show_form(type, targetValue) {
        var data;
        switch(type) {
            case "form_first":
                data = return_data(targetValue);
                break;
            case "form_second":
                data = return_data(targetValue);
                break;
        }
        $('#target').html($('#form').tmpl(data));
    }

    $('button').on('click', function(){
        var $self = this;
        var targetId = $self.dataset.id;
        var targetValue = $self.dataset.value;
        show_form(targetId, targetValue);
    });
//    $('#target').append($('#form_first'));
</script>
</body>
</html>