{% extends "base.html" %}

{% block title %}
    tweet list | {{ block.super }}
{% endblock title %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <h1>{{ request.user.username }}</h1>
        </div>
        <div class="col-sm-9">
            {% if not request.GET.q %}
                <div class="row">
                    {% include "tweets/form.html" with form=create_form btn_value='Tweet' id='tweet_form' %}
                </div>
                <hr/>
            {% endif %}
            {#            {% for object in object_list %}#}
            {#                <div class="media">#}
            {#                    <div class="media-left">#}
            {#                        {% if object.image %}#}
            {#                            <a href="#">#}
            {#                                <img class="media-object" src="..." alt="...">#}
            {#                            </a>#}
            {#                        {% endif %}#}
            {#                    </div>#}
            {#                    <div class="media-body">#}
            {#                        {{ object.content }} <br/>#}
            {#                        via {{ object.user }} | {{ object.timestamp|timesince }} ago |#}
            {#                        {{ object.pk }}#}
            {#                        <a href="{{ object.get_absolute_url }}">view</a>#}
            {#                    </div>#}
            {#                </div>#}
            {#                <hr/>#}
            {#                {% empty %}#}
            {#                {% if request.GET.q %}#}
            {#                    <p>empty</p>#}
            {#                {% else %}#}
            {#                    <p>no tweet yet.</p>#}
            {#                {% endif %}#}
            {#            {% endfor %}#}
            <div id="tweet-container">

            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script id="tweet" type="text/x-template">
        <div class="media">
            <div class="media-body">
                ${content} <br/>
                via ${user} | ${dateDisplay}
                <a href="#">view</a>
            </div>
        </div>
        <hr/>
    </script>
    <script>
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function () {
            var query = getParameterByName('q');
            var tweetList = [];
            var tweetArray = [];

            fetchTweets();
            function parseTweet() {
                if (tweetList == 0) {
                    $("#tweet-container").text('no tweet')
                } else {
                    tweetArray = [];
                    $.each(tweetList, function (key, value) {
                        tweetArray.push($('#tweet').tmpl({
                            'content': value.content,
                            'user': value.user.username,
                            'dateDisplay': value.date_display,
                        }))
                    });
                    $("#tweet-container").html(tweetArray);
                }
            }

            function fetchTweets(sendData) {
                var promise = $.ajax(
                    {
                        url: "/api/tweet/",
                        method: "GET",
                        data: sendData,
                        success: function (data) {
                            tweetList = data;
                        }
                    }
                );

                promise.done(function () {
                    parseTweet();
                })
            }

            $("#tweet_form").submit(function (evt) {
                evt.preventDefault();

                var $self = $(this);
                var formData = $self.serialize();
                var promise = $.ajax(
                    {
                        url: "/api/tweet/create-api/",
                        method: "POST",
                        data: formData,
                        success: function (data) {
                        },
                        error: function (data) {
                            console.log(data.status);
                            console.log(data.statusText);
                        }
                    }
                );
                promise.done(function () {
                    fetchTweets();
                    $("#id_content").val('');
                })
            });

            var charsStart = 140;
            var charsCurrent = 0;
            $("#tweet_form").append('<span id="tweet_chars_left">' + 0 + '/'+ charsStart+'</span>');
            $('#id_content').keydown(function(evt) {
                var tweetValue = $(this).val();
                charsCurrent = charsStart - tweetValue.length;

                if( charsCurrent < 0 ) {
                    $("#tweet_chars_left").css({
                        color: "red"
                    })
                } else {
                    $("#tweet_chars_left").css({
                        color: "#555555"
                    })
                }

                $("#tweet_chars_left").html(charsCurrent + '/' + charsStart);
            })

        })

    </script>
    {#<script>#}
    {##}
    {#    function return_data(type) {#}
    {#        switch(type) {#}
    {#            case "esens":#}
    {#                return {#}
    {#                    "username": "이센스",#}
    {#                    "title": "where to go"#}
    {#                };#}
    {#            case "beenzino":#}
    {#                return {#}
    {#                    "username": "빈지노",#}
    {#                    "title": "if i die tomorrow"#}
    {#                }#}
    {#        }#}
    {#    }#}
    {##}
    {#    function show_form(type, targetValue) {#}
    {#        var data;#}
    {#        switch(type) {#}
    {#            case "form_first":#}
    {#                data = return_data(targetValue);#}
    {#                break;#}
    {#            case "form_second":#}
    {#                data = return_data(targetValue);#}
    {#                break;#}
    {#        }#}
    {#        $('#target').html($('#form').tmpl(data));#}
    {#    }#}
    {##}
    {#    $('button').on('click', function(){#}
    {#        var $self = this;#}
    {#        var targetId = $self.dataset.id;#}
    {#        var targetValue = $self.dataset.value;#}
    {#        show_form(targetId, targetValue);#}
    {#    });#}
    {#//    $('#target').append($('#form_first'));#}
    {#</script>#}
{% endblock script %}