{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-sm-3 col-xs-12">
            <h1>{{ object.username }}</h1>
            <p>Followers : {{ object.followed_by.all.count }}</p>
            <p>
                <a class="btn btn-link" href="{{ object.profile.get_follow_url }}">
                    {% if following %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </a>
            </p>
            <h1>Following <small>{{ object.profile.get_following.count }}</small></h1>
            {% for user in object.profile.get_following %}
                <a href="/profile/{{  user.username }}/">{{ user.username }}</a>
                <br/>
                {% empty %}
                <h4>Not following any users</h4>
            {% endfor %}
            <hr/>
            <h1>Followed By</h1>
            {% for profile in object.followed_by.all %}
                <a href="/profile/{{ profile.user.username }}/">{{ profile.user.username }}</a>
                <br/>
                {% empty %}
                <h4>Not followed by any users</h4>
            {% endfor %}
        </div>
        <div class="col-sm-9 col-xs-12">
            <h1>Tweets</h1>
            <div id="tweet-container">

            </div>
            <a href="#" id="load_more">Load More Tweets</a>
            <hr/>
        </div>
    </div>
{% endblock content %}


{% block script %}
    <script src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script id="tweet" type="text/x-template">
        <div class="media">
            <div class="media-body">
                ${content} <br/>
                via <a href="${url}">${user}</a> | ${dateDisplay}
                <a href="${detail}">view</a> | <a class="retweet" href="${reTweet}">Retweet</a>
                | <a href="${like}" class="tweet-like" data-id="${id}">${likeContent} ${likesCount}</a>
                | <a class="tweet-reply" data-id="${id}" data-user="${user}">Reply</a>
            </div>
        </div>
        <hr/>
    </script>
    <script id="retweet" type="text/x-template">
        <div class="media">
            <div class="media-body">
                <span style="color:#cccccc">retweet via ${tweetUser} on ${tweetDateDisplay}</span>
                <br/>
                ${content} <br/>
                via <a href="${url}">${user}</a> | ${dateDisplay}
                <a href="${detail}">view</a> | <a class="retweet" href="${reTweet}">Retweet</a>
                | <a href="${like}" class="tweet-like" data-id="${id}">${likeContent} ${likesCount}</a>
                | <a class="tweet-reply" data-id="${id}" data-user="${user}">Reply</a>
            </div>
        </div>
        <hr/>
    </script>
    <script id="retweet_reply" type="text/x-template">
        <div class="media">
            <div class="media-body">
                <span style="color:#cccccc">Reply  @${tweetUser}</span>
                <br/>
                ${content} <br/>
                via <a href="${url}">${user}</a> | ${dateDisplay}
                <a href="${detail}">view</a> | <a class="retweet" href="${reTweet}">Retweet</a>
                | <a href="${like}" class="tweet-like" data-id="${id}">${likeContent} ${likesCount}</a>
                | <a class="tweet-reply" data-id="${id}" data-user="${user}">Reply</a>
            </div>
        </div>
        <hr/>
    </script>
    <script>
        function getParameterByName(name, url) {
            if (!url) {
                url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        $(document).ready(function () {
            var query = getParameterByName('q');
            var tweetList = [];
            var tweetArray = [];
            var nextTweetUrl;

            fetchTweets();

            $(".retweet").on('click', function(e) {
                var url = "/api" + $(this).attr("href");

                e.preventDefault();
                $.ajax({
                    method: "GET",
                    url: url,
                    success: function(data) {
                        console.log(data);

                    },
                    error: function(data) {
                        console.log("error");
                        console.log(data);
                    }
                })
            })

            function updateHashLinks() {
                $('.media-body').each(function(data) {
                    var hashTagRegex = /(^|\s)#([\w\d-]+)/g;
                    var usernameRegex = /(^|\s)@([\w\d-]+)/g;
                    var currentHtml = $(this).html();
                    var newText;
                    newText = currentHtml.replace(hashTagRegex, "$1<a href='/tags/$2/'>#$2</a>");
                    newText = newText.replace(usernameRegex, "$1@<a href='/profile/$2/'>$2</a>");
                    $(this).html(newText)
                })
            }

            function parseTweet(endlessPagination) {
                if (tweetList == 0) {
                    $("#tweet-container").text('no tweet')
                } else {
                    tweetArray = [];
                    $.each(tweetList, function (key, value) {
                        var isReply = value.reply;
                        if(value.did_like) {
                            var likeContent = "Unliked"
                        } else {
                            var likeContent = "Like"
                        }
                        if(value.parent&& !isReply) {
                            tweetArray.push($('#retweet').tmpl({
                                "tweetUser": value.parent.user.username,
                                'tweetDateDisplay' : value.date_display,
                                'content': value.parent.content,
                                'user': value.user.username,
                                'dateDisplay': value.parent.date_display,
                                'url': value.parent.user.url,
                                'detail': '/tweet/' + value.parent.id + "/",
                                'reTweet': '/tweet/' +value.parent.id + "/retweet/",
                                'id': value.id,
                                'like': 'api/tweet/' +value.id + "/like/",
                                'likesCount' : value.likes,
                                'likeContent' : likeContent
                            }))
                        } else if(value.parent&& isReply){
                            tweetArray.push($('#retweet_reply').tmpl({
                                "tweetUser": value.parent.user.username,
                                'content': value.content,
                                'user': value.user.username,
                                'dateDisplay': value.parent.date_display,
                                'url': value.parent.user.url,
                                'detail': '/tweet/' + value.parent.id + "/",
                                'reTweet': '/tweet/' +value.parent.id + "/retweet/",
                                'id': value.id,
                                'like': 'api/tweet/' +value.id + "/like/",
                                'likesCount' : value.likes,
                                'likeContent' : likeContent
                            }))
                        } else {
                            tweetArray.push($('#tweet').tmpl({
                                'content': value.content,
                                'user': value.user.username,
                                'dateDisplay': value.date_display,
                                'url': value.user.url,
                                'detail': '/tweet/' + value.id + "/",
                                'reTweet': '/tweet/' +value.id + "/retweet/",
                                'id': value.id,
                                'like': 'api/tweet/' +value.id + "/like/",
                                'likesCount' : value.likes,
                                'likeContent' : likeContent
                            }))
                        }
                    });
                    if (endlessPagination) {
                        $("#tweet-container").append(tweetArray);
                    } else {
                        $("#tweet-container").html(tweetArray);
                    }
                }
            }

            function fetchTweets(sendData, url, endlessPagination) {
                var username;
                var getUrl = window.location.href;
                username = getUrl.split('/')[4];
                var fetchUrl;
                if(!url) {
                    fetchUrl = "/api/"+username+"/tweet/";
                } else {
                    fetchUrl = url;
                }
                console.log(fetchUrl);
                var promise = $.ajax(
                    {
                        url: fetchUrl,
                        method: "GET",
                        data: sendData,
                        success: function (data) {
                            tweetList = data.results;
                            if(data.next) {
                                nextTweetUrl = data.next;
                            } else {
                                $("#load_more").css("display", "none");
                            }
                            if (endlessPagination) {
                                parseTweet(true);
                                updateHashLinks()
                            } else {
                                parseTweet(false);
                                updateHashLinks();
                            }
                        }
                    }
                );
            }

            $('#load_more').on('click', function (evt) {
                evt.preventDefault();
                fetchTweets("", nextTweetUrl, true)
            })
        })

    </script>
{% endblock script %}